@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Amarante&family=Niconne&display=swap');

body {
    font-family: 'Almendra SC', serif;
    font-family: 'Amarante', cursive;
    background-image: url("/src/assets/vintage.jpg");
    background-size: cover;
    text-align: center;
}

.app.app.main-div {
    margin: 50 px;
}