
.main-main-div {
  display: flex;
  flex-direction: column;
}

.form-container {
  display: flex;
  justify-content: center;
}
form {
  height: 50%;
  width: 80%;
  margin: 10px;
}

input {
  color: white;
  width: 20%;
  height: 80%;
  font-size: 1.5rem;
  /* background-color: lightgoldenrodyellow; */
  background-color: rgb(138, 119, 111);
  text-align: center;
  border-radius: 5px;
  /* background-image: url("/src/assets/vintage.jpg"); */
}

select {
  color: white;
  width: 50%;
  height: 80%;
  font-size: 1.5rem;
  /* background-color: rgb(189, 128, 128); */
  background-color: rgb(138, 119, 111);
  text-align: center;
  border-radius: 5px;
  /* background-image: url("/src/assets/vintage.jpg"); */
}
.select-desired-product {
  color: white;
  width: 71%;
  height: 80%;
  font-size: 1.5rem;
  /* background-color: rgb(189, 128, 128); */
  background-color: rgb(138, 119, 111);
  text-align: center;
  border-radius: 5px;
  /* background-image: url("/src/assets/vintage.jpg"); */
}

.upper-buttons-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}
.lower-buttons-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}

.img-Container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

img {
  border-radius: 5px;
  margin: 20px;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 70px solid transparent;
  border-bottom: 70px solid transparent;
  border-left: 100px solid rgb(138, 119, 111);
  margin-top: 33px;
  opacity: 0.7;
}

textarea {
  width: 55%;
  height: 10%;
  margin: 0 auto;
  background-color: rgb(138, 119, 111);
  color: white;
  font-size: 16px;
  text-align: center;
}

button {
  width: 150px;
  margin: 10px;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-shadow: -1px -1px #000;
  user-select: none;
  padding: 0.8em 2em;
  outline: none;
  background-color: rgb(138, 119, 111);
  /* background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    ),
    radial-gradient(
      190% 100% at 50% 0%,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(0, 0, 0, 0) 50%
    ); */
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;
}
button:active {
  top: 1px;
  box-shadow: none;
}
button:hover {
  transition: 0.5s linear;
  background-position: -200% 0, 0 0;
}

.show-other-trades-button {
    width: 100%;
    margin: 20px;
}