* {
  font-family: "Almendra SC", serif;
  font-family: "Amarante", cursive;
}

.main-main-div {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}

.form-container {
  display: flex;
  justify-content: center;
}

form {
  height: 50%;
  width: 80%;
  margin: 10px;
}

input {
  color: white;
  width: 20%;
  height: 80%;
  font-size: 1.5rem;
  /* background-color: lightgoldenrodyellow; */
  background-color: rgb(138, 119, 111);
  text-align: center;
  border-radius: 5px;
  /* background-image: url("/src/assets/vintage.jpg"); */
}

select {
  color: white;
  width: 50%;
  height: 80%;
  font-size: 1.5rem;
  background-color: rgb(138, 119, 111);
  text-align: center;
  border-radius: 5px;
}
.select-desired-product {
  color: white;
  width: 71%;
  height: 80%;
  font-size: 1.5rem;
  background-color: rgb(138, 119, 111);
  text-align: center;
  border-radius: 5px;
}

.upper-buttons-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}
.lower-buttons-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}

.img-Container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

img {
  border-radius: 5px;
  margin: 5px;
  height: 150px;
  width: 150px;
}

.text-area {
  width: 55%;
  height: 10%;
  margin: 0 auto;
  /* background-color: rgb(138, 119, 111); */
  color: rgb(102, 26, 26);
  font-size: 22px;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 5%;
}

textarea {
  overflow: scroll;
}
textarea::-webkit-scrollbar {
  display: none;
}
.myscrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

button {
  width: 150px;
  margin: 10px;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-shadow: -1px -1px #000;
  user-select: none;
  padding: 0.8em 2em;
  outline: none;
  background-color: rgb(138, 119, 111);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;
}
button:active {
  top: 1px;
  box-shadow: none;
}
button:hover {
  transition: 0.5s linear;
  background-position: -200% 0, 0 0;
}

.show-other-trades-button {
  width: 100%;
  margin: 20px;
}

.link {
    text-decoration: none;
}

@media screen and (max-width: 650px) {
  .img-Container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  #arrows {
    content: url("./arrows2.png");
  }
}
